body{
  margin:0;
  padding: 0;

}
.bg{
  width: 100%;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(poverty.jfif);
  background-position: left;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}
.logo{
  width: 50px;
  cursor: pointer;
  margin-left: 60px;
}
.menu-icon{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px ;
}
nav ul li a{
  text-decoration: none;
  color: aliceblue;
  font-size: 13px;
}
.row{
  display: flex;
  height: 88%;
  align-items: center;
 
}
.col{
  flex-basis: 50%;
  
}
h1{
  color: aliceblue;
  font-size: 100px;

}
p{
  color: aliceblue;
  font-size: 11px;
  line-height: 15px;
}
.card{
  width: 200px;
  height: 230px;
  display: inline block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(https://th.bing.com/th/id/R.757590e85dbfa38bdcaaeee252b4aac9?rik=7X2Luk394OKR4g&riu=http%3a%2f%2fwww.drodd.com%2fimages14%2fa17.png&ehk=BEhtSvsjgCOL55BQFB7YiyFIL887Q0p%2bDW4WT89aaKM%3d&risl=&pid=ImgRaw&r=0);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1{
  background-image: url(https://th.bing.com/th/id/R.757590e85dbfa38bdcaaeee252b4aac9?rik=7X2Luk394OKR4g&riu=http%3a%2f%2fwww.drodd.com%2fimages14%2fa17.png&ehk=BEhtSvsjgCOL55BQFB7YiyFIL887Q0p%2bDW4WT89aaKM%3d&risl=&pid=ImgRaw&r=0);
}
.card2{
  background-image: url(https://images.homedepot-static.com/productImages/bd16ebf0-6164-499f-accd-1cec578570ca/svn/home-decorators-collection-wall-letters-numbers-1865602270-64_1000.jpg);
}
.card3{
  background-image: url(https://th.bing.com/th/id/OIP.5QFO04l-WiyjYLTZSEKHRQHaHa?pid=ImgDet&rs=1);
}
.card4{
  background-image: url(https://th.bing.com/th/id/OIP.Ez_FGefcPF15EXbphXGI8gHaG9?w=213&h=201&c=7&r=0&o=5&dpr=1.3&pid=1.7);
}
.card:hover{
  transform: translate(-10px);
}

